<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <%- include ./topbar/topbar.html %>
    <hr>

    <% for(var i=0; i<data.userData[0].length; i++) { %>
    <form action="/sellerconfirm" method="post">
        <p>
            판매자 : <%= data.userData[0][i].name %>
        </p>
        <p>
            판매자 ID : <%= data.userData[0][i].id %>
        </p>
        <p>
            판매자 주소 : <%= data.userData[0][i].address %>
            판매자 전화 번호 : <%= data.userData[0][i].phonenumber %>
        </p>
        <p>
            판매자 지갑 주소 : <%= data.userData[0][i].wallet %>
        </p>
        <p>
            회사명 : <%= data.incData[0][i].inc_name %>
            회사 주소 : <%= data.incData[0][i].inc_address %>
            회사 정보 : <%= data.incData[0][i].inc_info %>
        </p>
        <button type="submit" value="<%= data.userData[0][i].user %>" name="id">확인</button>
    </form>
    <% } %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>