<!DOCTYPE html>
<html>

<head>
    <title>
        MyInfo Page
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <%- include ./topbar/topbar.html %>

    <hr>
    My Information <a href='/transactioninfo'>거래 내역 조회</a>
    <p>
        내 아이디 : <%= data.userData.userID %>
    </p>
    <p>
        내 이름 : <%= data.userData.userName %>
    </p>
    <p>
        성 별 : <% if (data.userData.userGen == 1) { %>
        male
        <% } else if (data.userData.userGen == 2) { %>
        female
        <% } %>
    </p>
    <p>
        집 주소 : <%= data.userData.userAddr %>
    </p>
    <p>
        전화번호 : <%= data.userData.userPN %>
    </p>
    <p>
        내 월렛 주소 : <%= data.userData.userWallet %>
    </p>
    <p>
        내 월렛 잔액 : <%= data.userData.userBalance %>
    </p>
    <!-- wallet Unlock 현재는 의미 없음 -->
    <form>
        Enter Wallet PW : <input type='text' name='walletPW' id='walletPW'></br>
        <input type='button' value='unlock' onclick="unlockWallet()">
    </form>

    <% if(data.userData.userDN == 0) { %>
    <a href='/myinfo_detail'>내 정보 수정</a>
    <a href='/tobeseller'>판매자 등록</a>
    <% } else if (data.userData.userDN == 1) { %>
    <a href='/myshop'>내 상품</a>
    <% } %>

    <script>
        async function unlockWallet() {
            var walletpw = document.getElementById("walletPW").value;
            try {
                const response = fetch('http://localhost:3000/unlockwallet', {
                    method: 'POST',
                    headers: {
                        "Content-Type": 'application/json'
                    },
                    body: JSON.stringify({ 'walletPW': walletpw })
                })       
            } catch(err) {

            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>