<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <%- include ./topbar/topbar.html %>
    <h3>Register Page</h3>
    <hr>
    <form method="post" action='/registerConfirmation'>
        <p>
            Login ID : <input type="text" name="userID" id="user">
        </p>
        <p>
            Login PW : <input type="password" name="userPW" id="pwd">
        </p>
        <p>
            Name : <input type="text" name="userName" id="name">
        </p>
        <p>
            Address : <input type="text" name="userAddr" id="addr">
        </p>
        <p>
            <input type='radio' name='userGen' value='1'>남</button>
            <input type='radio' name='userGen' value='2'>녀</button>
        </p>
        <p>
            PhoneNumber : <input type="text" name="userPN" id="phonenumber">
        </p>
        <p>
            Wallet PW : <input type="text" name="userWalletPW" id="walletpassword">
        </p>
        <p>
            <p class="text-center"><input class=" btn btn-success"  type="submit" value="확인" ></p>
        </p>
        
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>