<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="../../ohj/css/itemlist.css">

</head>

<body>
        <% include ../topbar/topbar.html %>
    <div class="container1-page">
            <p>
                    <h3 style="text-align:center"><%= data.userData.userID %> 님이 판매중인 상품 List 입니다</h3>
            </p>
<div class="container">
<div class="col-xs-12 col-md-6">
    <!-- First product box start here-->
<form method='post' action='/editmyitem'>
    <% for(var i = 0; i < data.itemData.length; i++) { %>
	<div class="prod-info-main prod-wrap clearfix">
		<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="product-image">            
                        #<%=i+1%> <img src='../../ohj/images/itemimages/<%= data.itemData[i].item_img %>' style="width:100px; heigth: 100px">
					</div>
				</div>
				<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="product-deatil">
						<h5 class="name">
                        <%= data.itemData[i].item_name %> 
                        </h5>
						<p class="price-container">
							<span><%= data.itemData[i].item_price %></span>
						</p>
						<span class="tag1"></span> 
				</div>
				<div class="description">
                    <p>A Short product description here </p>
                    </p>
                        <button type='submit' name='data' value='<%= JSON.stringify(data.itemData[i]) %>'>수정</button>
                    </p>
				</div>
				
			</div>
		</div>
    </div>
    <% } %>
</form>
	<!-- end product -->
</div>
        
</div>


        
</div>
</div>
</body>
</html>
