<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
    <style>
        #topbar {
            background-color: #d3e682;
            padding: 15px;
            border: 0;
            margin: 0;
        }
        #top-under-bar {
            background-color: #76a650;
            padding: 1.5px;
            border: 0;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
        <!-- Login Template
            Home Banner
            Category Link
            Premium Item Link -->
            <div id='topbar'>
            <a href='/'><img src='media/MindMade.jpg' width="100px" height="40px"></a>
            <a href='/shop'>SHOP</a>
            <% if (!data.userData) { %>
            <a href='/login'>LOGIN</a>
            <a href='/register'>REGISTER</a>
            <% } else { %>
                <% if(data.userData.userDN == 1) { %>
                    <a href='/buytoken'>BuyToken</a>
                    <a href='/itemup'>ITEMUP</a>
                    <a href='/myinfo'>MYINFO</a>
                    <a href='/logout'>LOGOUT</a>
                <% } else if (data.userData.userDN == 2) { %>
                    <a href='/tokenconfirm'>Token Confirmation</a>
                    <a href='/sellerconfirm'>Seller Confirmation</a>
                    <a href='/myinfo'>MYINFO</a>
                    <a href='/logout'>LOGOUT</a>
                <% } else { %>
                    <a href='/buytoken'>BuyToken</a>
                    <a href='/myinfo'>MYINFO</a>
                    <a href='/logout'>LOGOUT</a>
                <% } %>
            
            <% } %>
        </div>
        <div id="top-under-bar"></div>
</body>
</html>